html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: "Roboto", sans-serif;
    font-size: small;
    background: #eee;
}
.mediumFont {
    font-size: medium;
    text-decoration: none;
}
body p, body li {
    line-height: 2.3rem;
}
/*----------------------------------------------------*/

.navbar {
    display: flex;
    flex-direction: column;
}
.navbarNegro {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.whiteText {
    color: white;
}
.whiteText a {
    color: white;
    text-decoration: none;
}
.whiteText a:visited {
    color: white;
}
.navbarLinks {
    display: flex;
    margin: 0;
}
.navbarLinks li:hover {
    text-decoration: underline;
}
.navbarLinks li {
    margin: auto 1rem;
    list-style: none;
}
.navbarLink {
    display: flex;
    margin: 0;
}
.navbarLink li {
    margin: 0 1rem;
    list-style: none;
}
.downArrow {
    padding: 6.28% 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}
.searchIcon {
    padding: .6rem 1.5rem;
    background-color: #008272;
    border: none;
    margin-bottom: .8rem;
}
.searchIcon:hover {
    background-color: #004f45;
}
.navIcon, .rightArrow {
    width: 1.15rem;
    margin-left: .2rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(56deg) brightness(103%) contrast(102%);
    object-fit: none;
}
.downArrow:hover {
    background-color: #727272;
}
.navbarMain {
    display: flex;
    flex-direction: column;
    background-color: #004f45;
}
.subNavbar1 {
    display: flex;
    list-style: none;
    position: absolute;
    left: 53.3%;
    top: 4.2%
}
.subNavbar1 li {
    margin: 1rem 1.5rem;
}
.subNavbar1 li:hover {
    text-decoration: underline;
}
.subNavbar2 {
    display: flex;
    margin: 0 auto;
    margin-left: 40rem;
}
.subNavbar2 .logo {
    margin: 2.5rem auto;
}
.navbarCaps, .subNavbar2 a {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
}
.navbarCaps {
    padding: 0;
    margin: 8rem 0 0 3rem;
}
.navbarCaps li {
    padding: 2rem;
}
.navbarCaps li:hover, .navbarCaps a:hover {
    background-color: #00362f;
    color: #009c88;
}
.subNavbar2 ul {
    display: flex;
    justify-content: space-around;
}
.subNavbar2 li {
    height: 10rem;
    width: 32%;
}
.navbar::after {
    content: "";
    background-color: #009c88;
    width: 100%;
    height: .5rem;
}

/* main */
.slideshow {
    display: flex;
}
.slideshow img {
    width: 100%;
    z-index: 1;
}
.sideText {
    background-color: #004f45;
    color: #fff;
    z-index: 1;
    padding: .5rem 5rem 1rem 2rem;
    max-width: 40%;
    position: absolute;
    top: 32.5%
}
.sideText p {
    margin-top: .5rem;
}
.sideText h2 {
    font-size: 3rem;
    margin-bottom: 0;
}
.sideText button {
    color: #fff;
    font-weight: 600;
    background-color: #ff4c00;
    border-style: none;
    padding: 1.7rem;
    margin-bottom: 1rem;
}
.sideText button:hover {
    background-color: #cc3d00;
    text-decoration: underline;
}
.slideshow::before {
    content: "";
    z-index: 0;
    width: 100%;
    background-color: #fff;
    height: 11rem;
    position: absolute;
    top: 65%
}
.buttonsSlideshow {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 66%;
    left: 90%;
}
.buttonsSlideshow button {
    padding: .8rem;
    border-radius: 50%;
    margin: .7rem;
}
.buttonsSlideshow button:hover {
    border: .3rem solid #fff;
    background-color: #fff;
}
.buttonNotselected {
    background-color:#fff;
    border: .3rem solid #00362f;
}
.buttonSelected {
    background-color: #00362f;
    border: .3rem solid #fff;
}
.infoBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63%;
    margin: 3rem auto 4.7rem auto;
}
.contDestacamos, .contReciente {
    box-shadow: 0 .5rem .4rem -.3rem #9999998c;
}
.titulosInfoBox {
    display: flex;
    justify-content: space-between;
    background-color:#00362f;
    color: #fff;
    margin-bottom: 1.4rem;
}
.infoBoxIcon {
    margin: auto 1.5rem auto 2rem;
}
.contDestacamos, .contReciente {
    margin: 2rem;
    background-color: #fff;
}
.contDestacamos ul, .contReciente ul {
    list-style: none;
    margin: 1rem 0;
}

/* seccion destacamos */
.contDestacamos {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}
.destacamos {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: center;
    margin: 1rem 0;
}
.destacamosContenedores {
    display: flex;
    justify-content: space-around;
}
.destacamos img {
    max-width: 99%;
}
.destacamos a {
    max-width: 99%;
}
.tituloContDestacamos {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color:#004f45;
    margin: 1.5rem 0;
}
.tituloContDestacamos:hover {
    text-decoration: underline;
    color: #009c88;
}

/* seccion reciente*/
.contReciente {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.infoBoxes h2 {
    width: fit-content;
    padding-bottom: 1rem;
}
.tituloContReciente a{
    font-weight: 600;
    font-size: large;
    text-decoration: none;
    color: #004f45;
}
.tituloContReciente a:hover {
    text-decoration: underline;
    color: #009c88;
}
.orangeText a {
    font-variant: small-caps;
    font-size: medium;
    color: #ff4c00;
    text-decoration: none;
}
.orangeText a:hover {
    color: #cc3d00;
    text-decoration: underline;
}
.grayText {
    color: #999;
    font-size: 1.3rem;
}
.recienteContenedores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.reciente .mediumFont p {
    margin-bottom: 0;
}
.verMas {
    font-size: 1.6rem;
    margin-right: 1.5rem;
}
.titulosInfoBox a {
    text-decoration: none;
    color: #fff;
}
.titulosInfoBox a:hover {
    text-decoration: underline;
}
.recienteContenedores ul {
    align-items: center;
}
.reciente {
    display: flex;
    max-width: 45%;
}
.reciente ul {
    margin-top: 0;
    padding-left: 3rem;
}
.reciente li {
    margin-bottom: 1rem;
}
.reciente img {
    width: 20rem;
}
.recienteToprow {
    margin-bottom: 4rem;
}
.recienteToprow::after {
    content: "";
    background-color: rgb(106, 106, 106, .3);
    width: 28%;
    height: .1rem;
    position:absolute;
    display: table;
    top: 149%;
}

/* footer */
.icons {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.icons img {
    filter: grayscale(100%);
    transition: filter .5s;
}
.icons img:hover {
    filter: grayscale(0%);
}
.contFooter {
    display: flex;
    flex-direction: column;
    background-color: #004f45;
}
.greenText {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #009c88;
    margin-top: 0;
}
.greenText:hover {
    text-decoration: underline;
}
.acreditacion {
    background-color: #00362f;
}
.acreditacionCont {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.acreditacionCont img {
    max-width: 13%;
}
.lineaVertical {
    margin: 1.5rem
}
.lineaVertical::after {
    display: flex;
    content: "";
    background-color: #eee;
    width: .1rem;
    height: 10rem;
    position: relative;
}
.footerLinks {
    display: flex;
    margin: 2rem auto 3rem auto;
}
.footerLinks ul {
    margin-top: 0;
}
.footerLinks li {
    list-style: none;
    margin: 0 auto 1rem auto;
}
.footerLinks ul {
    max-width: 18.5rem;
    padding: 0;
    margin: 0 4rem 0 0;
}
.footerLinks img {
    max-width: 6.5%;
    height: min-content;
    margin-right: 5.5rem;
}
.footerLinks a:hover {
    text-decoration: underline;
}
.footerCopyright {
    background-color: black;
    color: #ddd;
    text-align: center;
    padding: .5rem;
}
.footerCopyright a {
    color: #fff;
}
.footerCopyright a:hover {
    color: #009c88;
    text-decoration: none;
}